<form class="addImg" action="{{ endpoint }}" method="POST" enctype="multipart/form-data">
    {% if image and image.id %}
    <img src="{{ url_for('image', img_id=image.id) }}">
    {% else %}
    <input class="upload" type="file" name="file" class="file">
    {% endif %}
    <button type="submit">Submit</button>
</form>
{% if image and image.id %}
<form class="delImg" action="{{ url_for('image_delete', img_id=image.id) }}" method="POST">
    <button type="submit">Delete</button>
</form>
{% endif %}
<hr>
	
